<html>
  <body>

    <div class="errors">
      <% @post.errors.each do |attribute, error| %>
        <p class="error" style="color: orange">
          <%= attribute %>: <%= error %>
        </p>
      <% end%>
    </div>

    <%= form_tag posts_path, method: 'post' do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'post[title]', @post.title %>
      <br /> <br />

      <%= label_tag 'Body' %>
      <%= text_field_tag 'post[body]', @post.body %>
      <br /> <br />

      <%= label_tag 'Author' %>
      <%= text_field_tag 'post[author]', @post.author %>
      <br /> <br />
      <%= hidden_field_tag 'post[id]', @post.id %>

      <%= submit_tag 'Create Post' %>

    <% end %>

    <br />
    <%= link_to 'Back to Posts', posts_path %>

  </body>
</html>