<html>
  <body>
    <%= link_to 'Back to Posts', posts_path %>
    <%= link_to 'Edit Post', edit_post_path(@post.id) %>

    <div class="post">
      <h2 class="title">
        <%= @post.title %>
      </h2>

      <small class="meta">
        <span class="author">by <%= @post.author %> -</span>
        <em class="created_at"><%= @post.created_at %></em>
      </small>

      <p class="body"><%= @post.body %></p>
    </div>

    <br />

    <div class="comments">
      <h3>Comments:</h3>
      <% @post.comments.each_with_index do |comment, index| %>
        <p class="comment">
          <small class="comment_meta">
            <span class="comment_author">#<%= index + 1 %> by <%= comment.author %> -</span>
            <em class="comment_created_at"><%= comment.created_at %></em>
          </small>

          <p class="comment_body"><%= comment.body %></p>
        </p>

        <%= form_tag post_comment_path(@post.id, comment.id), method: 'delete' do %>
          <%= submit_tag 'Delete Comment' %>
        <% end %>
        <hr />
      <% end %>
      <div class="errors">
        <% @comment.errors.each do |attribute, error| %>
          <p class="error" style="color: orange">
            <%= attribute %>: <%= error %>
          </p>
        <% end%>
      </div>
      <%= my_form_tag post_comments_path(@post.id) do %>
        
        <% unless @comment.new_record? %>
          <%= my_hidden_field_tag 'comment[body]', @comment.body %>
        <% end %>

        <%= my_label_tag 'Comment' %>
        <%= my_text_area_tag 'comment[body]', @comment.body %>
        <br /> <br />

        <%= my_label_tag 'Name' %>
        <%= my_text_field_tag 'comment[author]', @comment.author %>
        <br /> <br />

        <%= my_submit_tag 'Add Comment' %>
      <% end %>
      <hr />
    </div>

  </body>
</html>