<html>
  <body>
    <a href="/list_posts">Back to Posts</a>
    <a href="/edit_post/<%= post.id %>">Edit Post</a>

    <div class="post">
      <h2 class="title">
        <%= post.title %>
      </h2>

      <small class="meta">
        <span class="author">by <%= post.author %> -</span>
        <em class="created_at"><%= post.created_at %></em>
      </small>

      <p class="body"><%= post.body %></p>
    </div>

    <br />

    <div class="comments">
      <h3>Comments:</h3>
      <% post.comments.each_with_index do |comment, index| %>
        <p class="comment">
          <small class="comment_meta">
            <span class="comment_author">#<%= index + 1 %> by <%= comment.author %> -</span>
            <em class="comment_created_at"><%= comment.created_at %></em>
          </small>

          <p class="comment_body"><%= comment.body %></p>
        </p>

        <form method="post" action="/list_posts/<%= post.id %>/delete_comment/<%=
          comment.id %>">
          <input type="submit" value="Delete Comment" />
        </form>
        <hr />
      <% end %>
      <div class="errors">
        <% comment.errors.each do |attribute, error| %>
          <p class="error" style="color: orange">
            <%= attribute %>: <%= error %>
          </p>
        <% end%>
      </div>
      <form method="post" action="/create_comment_for_post/<%= post.id %>">

        <label for="body">Comment</label>
        <textarea id="body" name="body"><%= comment.body %></textarea>
        <br /> <br />

        <label for="author">Name</label>
        <input id="author" name="author" type="text" value=<%= comment.author %>>
        <br /> <br />

        <input type="submit" value="Add Comment" />
      </form>
      <hr />
    </div>

  </body>
</html>